payload:
  - PROCESS-NAME,TradingView.exe,♻️ 自动选择
  - DOMAIN-KEYWORD,epicgames,DIRECT
  - DOMAIN,solidtorrents.to,YOUTUBE
  - DOMAIN-KEYWORD,google,YOUTUBE
  - DOMAIN-KEYWORD,youtube,YOUTUBE
  - DOMAIN,youtube.com,YOUTUBE
  - DOMAIN-KEYWORD,ytimg,YOUTUBE
  - DOMAIN-KEYWORD,ggpht,YOUTUBE
  - DOMAIN-KEYWORD,z-lib,YOUTUBE
  - DOMAIN-KEYWORD,zlibrary,YOUTUBE
  - DOMAIN-KEYWORD,zlib,YOUTUBE
  - DOMAIN,z-lib.org,YOUTUBE
  - DOMAIN,1lib.cloud,YOUTUBE
  - DOMAIN,1lib.domains,YOUTUBE
  - DOMAIN,1lib.education,YOUTUBE
  - DOMAIN,1lib.eu,YOUTUBE
  - DOMAIN,1lib.limited,YOUTUBE
  - DOMAIN,1lib.pl,YOUTUBE
  - DOMAIN,1lib.to,YOUTUBE
  - DOMAIN,1lib.tw,YOUTUBE
  - DOMAIN,2lib.org,YOUTUBE
  - DOMAIN,3lib.net,YOUTUBE
  - DOMAIN,art1lib.com,YOUTUBE
  - DOMAIN,b-ok.africa,YOUTUBE
  - DOMAIN,b-ok.asia,YOUTUBE
  - DOMAIN,b-ok.cc,YOUTUBE
  - DOMAIN,b-ok.global,YOUTUBE
  - DOMAIN,b-ok.org,YOUTUBE
  - DOMAIN,book4you.org,YOUTUBE
  - DOMAIN,bookfi.net,YOUTUBE
  - DOMAIN,booksc.eu,YOUTUBE
  - DOMAIN,booksc.me,YOUTUBE
  - DOMAIN,booksc.org,YOUTUBE
  - DOMAIN,booksc.xyz,YOUTUBE
  - DOMAIN,bookshome.info,YOUTUBE
  - DOMAIN,bookshome.net,YOUTUBE
  - DOMAIN,bookshome.world,YOUTUBE
  - DOMAIN,de1lib.org,YOUTUBE
  - DOMAIN,hk1lib.org,YOUTUBE
  - DOMAIN,libsolutions.app,YOUTUBE
  - DOMAIN,libsolutions.domains,YOUTUBE
  - DOMAIN,libsolutions.net,YOUTUBE
  - DOMAIN,ma1lib.org,YOUTUBE
  - DOMAIN,sg1lib.org,YOUTUBE
  - DOMAIN,singlelogin.app,YOUTUBE
  - DOMAIN,singlelogin.me,YOUTUBE
  - DOMAIN,z-lib.org,YOUTUBE
  - DOMAIN,zlib.life,YOUTUBE
  - DOMAIN,zlibcdn.com,YOUTUBE
  - DOMAIN,zlibcdn2.com,YOUTUBE
  - DOMAIN-KEYWORD,bing,DIRECT
  - DOMAIN-KEYWORD,microsoft,DIRECT
  - DOMAIN-KEYWORD,github,DIRECT
  - GEOIP,cn,DIRECT
